body {
    font-family: Courier;
    font-size: 15px;
    background-image: url("https://file.garden/ZLptrSeVhBA68gx4/myWebsites/hizztcoolwebplace/images/CHRMWARP.JPG");
}

.box {
    width: 500px;
    text-align: center;
    border: 2px solid black;
    background-color: white;
    font-size: 25px;
    padding: 10px;
}
